@{
    ViewBag.Title = "İletişim";
    string[] yapilandirma = { "Oto Galerici", "Alper Dilaver", "0531 845 51 12", "0442 124 25 61", "alper.dilaver@gmail.com" };
}

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3060.1439813054285!2d41.26926631459928!3d39.91579397942646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x406e5f6a68519445%3A0xc8c708746df508b6!2sErzurum%2C%20%C3%96mer%20Nasuhi%20Bilmen%2C%2025200%20Yakutiye%2FErzurum!5e0!3m2!1str!2str!4v1625395952946!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<div class="row d-flex justify-content-center mt-4" style="margin-left:150px;">
    <p><i class="fas fa-mobile-alt mt-4" style="color:black; font-size:x-large; margin-left:35px;"></i> <span class="h5" style=" margin-left:20px; margin-top:10px;">Cep Telefonu : @yapilandirma[2]</span><i class="fas fa-phone-volume mt-4" style="color:black; font-size:x-large; margin-left:35px;"></i><span class="h5" style=" margin-left:20px; margin-top:10px;">Sabit Hat (Dükkan) : @yapilandirma[3]</span><i class="fas fa-envelope mt-4" style="color:black; font-size:x-large; margin-left:35px;"></i><span class="h5" style=" margin-left:15px; margin-top:10px;">E-Mail Adresi : @yapilandirma[4]</span></p>
</div>

