@{
    ViewBag.Title = "Hakkımızda";
}
<div class="row d-flex justify-content-center vh-100" style="background-color: #2C3A47; margin-left: 15px; ">
    <img src="~/Content/Img/hakkimizda_ana_resim.jpg" style="width:600px; height:350px; margin-top:50px;" class="img-rounded" alt="hakkimizda_ana_resim" />
    <p class="text-white">
        &emsp;&emsp; Bu işi yapamya başladığımız 1995 yılından beri "En iyi ve en yeni otomobilleri kullanarak müşterilerine dünya standartlarında çözümler sunmak" ilkesiyle yola çıkan Dilaver Otomotiv, geçen 26 yıllık süreçte Dünya ve Türkiye’ye, en büyük otomobil galerilerinden biri olmayı başarmıştır. 2008 yılında oto galericilerinin standartlarını belirleyen ve denetleyen tek otorite ICANN'e akredite olan Dilaver Otomotiv, 2010 yılından beri Türkiye'nin en büyük 10 oto galeri şirketi arasında yer almakta ve kurulduğu günden buyana 50.000 üzerinde araba satış kaydı kaydı ve 20 binin üzerinde araç takası yapmıştır.
    </p>
</div>


